.NoteList {
  ul {
    padding-inline-start: 1rem;

    li {
      padding-block-end: 4px;

      &:last-child {
        padding-block-end: 0;
      }
    }

    a {
      display: block;
      padding: 4px;
      text-decoration: none;
      color: #c8c8c8;

      &:hover {
        color: #fff;
      }
    }
  }
}
