

.header{
  background-color: black;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul{
    display: flex;
    gap: 1rem;
  }
}



a.active{
  display: inline-block;
  color: orange;
  position: relative;
}

a.active::before{
  content: '';
  width: 8px;
  height: 8px;
  background-color: orange;
  border-radius: 50%;
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
}