.container {
  height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  gap: 20px;
}


.sale{
  color: red;
  font-size: 1.3rem;
}