

body{
  background-color: var(--background);
  color: var(--foreground);
  display: flex;
  justify-content: center;
}

.planet{
  width: 500px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  gap:var(--space-2);


  .item{
    cursor: move;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--radius-m);
    padding: var(--space-3);
    gap: var(--space-5);

    > img{
      width: 64px;
      height: 64px;
      border-radius: var(--radius-m);
      border: 2px solid var(--white);
    }

    .content{
      flex: 1;
      color: var(--white);
      font-size: 20px;
    }

    button{
      --size:24px;
      block-size: var(--size);
      inline-size: var(--size);
      border: none;
      background: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}