body{
  display: flex;
  justify-content: center;
  margin-top: 100px;

}

.avatar {
  --size:64px;
  figure {
    margin: 0;
    position: relative;

    .cover {
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      background-color: var(--white);
      overflow: hidden;

      > img {
        width: var(--size);
      }
    }
    figcaption {
      position: absolute;
      right: 2px;
      bottom: 2px;
    }
  }
}

.avatarList {
  list-style: none;
  margin-block: 0;
  padding-inline-start: 0;
  display: flex;
  gap:1rem;
}
