.container{
  flex: 1;
  padding: 2rem;

  h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .description{
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
  }

  .control{
    margin-block-end: 1rem;

    input{
      padding:8px;
      border: 1px solid black;
      border-radius: 2px;
      &:focus{
        outline: none;
      }
    }
  }

  .result{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h3{
      font-size: 1.3rem;
    }

    p{
      color: red;
    }
  }

  .group{
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;

    button{
      opacity: 0.6;
      padding: 8px 1rem;
      background-color: transparent;
      border: 1px solid black;
      border-radius: 4px;
      font-weight: bold;
      cursor: pointer;

      &:hover{
        opacity: 1;
        color: black;
      }
    }
  }

}